$color-background: linear-gradient(135deg, rgba(245, 173, 234, 0.15) 21.68%, rgba(28, 124, 213, 0.15) 100%);

$color-primary: #1C7CD4;
$color-primary-selected: #1C7CD433;
$color-primary-hover: #0f6abf;
$color-text-dark: #36456C;
$color-text-light: #8D9297;
$color-text-white: #FFFFFF;

$color-status-success: #26C318;
$color-status-error: #ED7575;

$color-section: #FAFAFA;

$color-box: #FFFFFF;

$color-light-gray: #C5C8CE;
$color-super-light-gray: #EBEBEB;

$color-light-blue-gray: #F5F7FB;

$font-size-huge: 46px;
$font-size-large: 30px;
$font-size-medium: 20px;
$font-size-normal: 16px;
$font-size-small: 13px;
$font-size-tiny: 11px;

$box-shadow: 0px 2px 20px 3px rgba(0, 0, 0, 0.10);
$box-shadow-levitate: 0px 8px 40px 5px rgba(0, 0, 0, 0.15);